<!DOCTYPE html>
<html>
    <head>
        <title>Film list</title>
    </head>
    <body>
        <form action="{% url 'films:index' %}" method="get">

            <label for="filter_by_name">Filter by name</label>
            <input type="text" name="filter_by_name" id="filter_by_name" value="{{ filter_by_name }}">
            <input type="submit" value="Filter">
            {% if filter_by_name %}
                <input type="submit" value="X" alt="Remove filtering by name" title="Remove filtering by name" onclick="document.getElementById('filter_by_name').value=''">
            {% endif %}

            <input type="hidden" name="order_by_name" id="order_by_name" value="{{ order_by_name }}">
            {% if order_by_name == "ASC" %}
                <input type="submit" value="Order by name descending" onclick="document.getElementById('order_by_name').value='DESC'">
                <input type="submit" value="Remove order by name" onclick="document.getElementById('order_by_name').value=''">
            {% elif order_by_name == "DESC" %}
                <input type="submit" value="Order by name ascending" onclick="document.getElementById('order_by_name').value='ASC'">
                <input type="submit" value="Remove order by name" onclick="document.getElementById('order_by_name').value=''">
            {% else %}
                <input type="submit" value="Order by name ascending" onclick="document.getElementById('order_by_name').value='ASC'">
                <input type="submit" value="Order by name descending" onclick="document.getElementById('order_by_name').value='DESC'">
            {% endif %}
        </form>
        <h1>Film list</h1>
            {% if film_list %}
                <table>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Short name</th>
                    </tr>
                    {% for film in film_list %}
                    <tr>
                        <td>
                            {% if film.icon_uri %}
                            <img src="{{ film.icon_uri }}">
                            {% endif %}
                        </td>
                        <td>{{ film.name }}</td>
                        <td>{{ film.short_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% if filter_by_name %}
                    <p>No films are available with given filter (try to remove it)</p>
                {% else %}
                    <p>No films are available</p>
                {% endif %}
            {% endif %}
    </body>
</html>
